* {
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ul
{
  margin-left: 1000px;
}

.nav {
  position: absolute;
  left: 60;
}

.background
{
  background-color: #26538f;
  background-blend-mode: darken;
}

.login-button button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 1rem 1.7rem;
  cursor: pointer;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #333;
}

.login-button button:hover {
  background-color: #45a049;
}

.nav-main {
  width: 150px;
  background-color: #f4f4f4;
  padding: 2rem;
  position: fixed;
  height: 100%;
}

.nav-main ul 
{
  list-style-type: none;
}

.nav-main li {
  margin: 40px 0;
}

.nav-main a 
{
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.nav-main a:hover {
  color: #4CAF50;
}

.profile 
{
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.header-logo
{
  margin: 0.5rem 50rem 0rem 0rem;
}

.header-logo-text
{
  font-size: 150%;
  color: #FFFFFF;
}